body, html, div{
  height: 100%;
}

img{
	max-height:100%;
	max-width:100%;
	display: block;
	margin:auto;
}


body.dragOver #file-drop{display:block;} /* During drag */
body #file-drop{z-index:1000;position:fixed;top:0;left:0;width:100%;height:100%;display:none;} /* No drag */